@import url('shared.css');


main {
  display: flex;
  flex-direction: row;
}

#editor {
  flex:1 0 auto;
}

aside {
  flex:0 1 150px;
  display: flex;
  flex-direction: column;
  background-color: #444;
}

.user-message {
  cursor: pointer;
  background-color: #777;
  transition: background-color 1000ms linear;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.user-message.new {
  background-color: darkorange;
  transition: background-color 1000ms linear;
}

.user-message div:first-child {
  padding:5px;
  flex:1;
}
.user-message div:last-child {
  padding:5px;
  flex:0;
}
.user-message div:hover {
  background-color: #999;
}
