html, body {
  height:100%;
  overflow: hidden;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

nav {
  flex: 0 1 auto;
  background-color:#7fffd4;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav > * {
  margin:3px;
}

main {
  position: relative;
  flex: 1 1 auto;
  background-color:bisque;
}

footer {
  flex: 0 1 80px;
  min-height:50px;
  overflow-y: auto;
  background-color: #222222;
  color: white;
  font-size: 8px;
  font-family: monospace;
  white-space: pre;
  padding: 3px;
}

#logging .warn {
  color: #d3b42c;
}

#logging .error {
  color: #d16969;
}

#logging .success {
  color: #4fbb4f;
}


button, input[type=text],
input[type=password],
input[type=number],
select {
  border-radius: 4px;
  padding:  5px 10px;
  border:none;
  border: #222222 solid 1px;
}

input[type=text], select {

}

button {
  background-color:#444444;
  color: #eeeeee;
  cursor: pointer;
}

button.light {
  background-color:#eeeeee;
  color: #444444;
}

button:hover {
  background-color:#111;
  color: #ffffff;
}
button.light:hover {
  background-color:#ffffff;
  color: #222222;
}

button.connect {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
button.connect::before {
  display:inline-block;
  width: 10px;
  height: 10px;
  content:"";
  margin-right: 4px;
  border-radius: 50%;
}
button.connect::before, button.connect.offline::before {
  background-color: #e75555;
  border: solid 1px #f38e8e;
}
button.connect.online::before {
  background-color: #229922;
  border: solid 1px #7be47b;
}

/*
button.connect, button.connect.offline {
  background-color:#cc2222;
  color: #eeeeee;
}
button.connect:hover, button.connect.offline:hover {
  background-color:#e75555;
  color: #ffffff;
}
button.connect.online {
  background-color: #229922;
}
button.connect.online:hover {
  color: #ffffff;
  background-color: #41a841;
}
*/


.dialog-backdrop {
  position: fixed;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.4);
  align-items: center;
  align-content: center;
  justify-content: center;
}

.dialog-window {
  min-width: 100px;
  max-width: 100%;
  /*width: 300px;*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px red;
  border: solid 1px black;
  border-radius: 10px;
  background-color: white;
}

.dialog-window h1 {
  color:#248363;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 170%;
  font-weight: normal;
}
.dialog-window h2 {
  color:#717a77;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 120%;
  font-weight: normal;
  font-style: italic;
}

.dialog-window h1 + h2 {
  margin-top: -20px;
}

.dialog-buttonrow {
  display: flex;
  flex-direction: row;
}

.dialog-buttonrow button {
    margin: 0 10px;
}
.dialog-buttonrow button:first-child {
  margin-left: 0;
}
.dialog-buttonrow button:last-child {
  margin-right: 0;
}
